<!DOCTYPE html>
<html>
  <head>
    <title>PidgeyPost</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="container">
      <%= flash_messages %>
      <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">Pidgey-post</a>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Poke room</a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item pull-xs-right">
              <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "nav-link") %>
            </li>
          <% end %>
        </ul>
      </nav>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
